
<script src='https://github.com/mathiasbynens/jquery-placeholder/blob/master/jquery.placeholder.min.js'>
</script>
<script>
  $('password').placeholder();
</script>
<div class='signup-wrapper'>
  <div class='signup-card'>
    <h1>Log in</h1>

    <%= form_tag sessions_path do %>
      <p>
      <%= text_field_tag :email, params[:email], :placeholder => "Email" %>
      </p>
      <p>
      <%= password_field_tag :password, :id => 'password' %>
      </p>
      <%= submit_tag "Log In", :class => 'btn' %>
    <% end %>
  </div>
</div>
