
.signup-wrapper {
  border: 1px solid #efefef;
  margin: 0 auto;
  width: 400px;
  height: 320px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -200px 0 0 -200px;
  background: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  -webkit-border-radius: 3px;
}

.signup-card {
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-top: 25px;
}

h1 {
  padding-bottom: 20px;
}

.wrapper {
  border: 1px solid #efefef;
  padding: 20px;
  margin: 10px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  -webkit-border-radius: 3px;
}

.search-button {
  margin-right: 10px;
}

.table-sort th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.table-sort th .asc {
  background-image: url(up_arrow.gif)
}

.table-sort th .desc {
  background-image: url(down_arrow.gif)
}



